doctype
html(lang='pt-br')
  head
    meta(charset='utf-8')
    title Stylo PDV
  body
  a(href="/cliente/novo") Novo Cliente
  a(href="/pedido/novo") Novo Pedido
  a(href="/pedido") Listagem Pedidos
  a(href="/cliente") Listagem de Clientes   